.user-input {
  margin-top: 10px;
  margin-bottom: 4px;
}

.link:hover {
  cursor: pointer;
  text-decoration: underline;
}

#error-message {
  padding-left: 7px;
  color: red;
}

#btn-subscribe-confirm {
  margin-top: 10px;
}

#btn-login-confirm {
  margin-top: 10px;
}