.navbar, .navbar-collapse .navbar-nav.navbar-right:last-child > .dropdown:last-child > a
{
  border-radius: 0;
}

.breadcrumb {
  background-color: #e6eaed;
}

.navbar-nav li a {
  cursor: pointer;
}

.navbar-brand {
  cursor: pointer;
}

@media (min-width: $screen-sm-min) and (max-width: $screen-md-max)
{
  .navbar .container-fluid
  {
    padding-left: 0;
  }

  #navbar-body *
  {
    font-size: 10px;
  }

  #navbar-body
  {
    padding-left: 0;
  }

  #search-form
  {
    padding-right: 0;
  }

  #navbar-home
  {
    display: none;
  }

  #navbar-movies
  {
    padding-left: 15px;
    padding-right: 15px;
  }

  #navbar-actors
  {
    padding-left: 15px;
    padding-right: 15px;
  }

  #navbar-tvshows
  {
    padding-left: 15px;
    padding-right: 15px;
  }

  #navbar-watchlist
  {
    padding-left: 15px;
    padding-right: 15px;
  }

  .navbar-brand
  {
    margin-left: 0;
  }
}