.episode-container {
  padding-bottom: 20px;
}

.episode-name {
  font-weight: bold;
}

.episode-image {
  width: 100%;
}

@media (max-width: $screen-md-max) {
  .img-poster-circle {
    display: none;
  }
}

#tvshow-episode-modal-header, #tvshow-episode-modal-body, #tvshow-episode-modal-footer {
  background-color: rgba(0, 0, 0, 0.6);
  color: #ffffff;
}

#tvshow-episode-modal-content {
  background-size: cover;
  background: no-repeat center top;
}

#search-episodes-container {
  padding-top: 20px;
}

#modal-tvshow-episode-preview {
  padding-top: 25px;
}