.episode-container {
  padding-bottom: 20px;
}

.episode-name {
  font-weight: bold;
}

.tvshow-poster {
  width: 100%;
}

.tvshow-preview {
  margin: auto;
  display: block;
}

@media screen and (max-width: $screen-xs-max){
  .tvshow-preview {
    width: 100%;
  }
}

.tvshow-preview {
  margin-bottom: 30px;
}

.episode-image {
  width: 100%;
}