.episode-container {
  padding-bottom: 20px;
}

.episode-name {
  font-weight: bold;
}

.episode-image {
  width: 100%;
}

@media (max-width: $screen-md-max) {
  .img-poster-circle {
    display: none;
  }
}

#tvShowEpisodeModalHeader, #tvShowEpisodeModalBody, #tvShowEpisodeModalFooter {
  background-color: rgba(0, 0, 0, 0.6);
  color: #ffffff;
}

#tvShowEpisodeModalBody {
  background-size: cover;
}