#user-email {
  margin-top: 0;
}

@media (max-width: $screen-xs-max) {
  .user-button {
    padding-right: 10px !important;
    padding-left: 10px;
  }
}

.followed {
  background-color: orangered;
}

.followed:active {
  background-color: orangered;
}

.followed:hover {
  background-color: orangered;
}