<nav class="navbar navbar-inverse navbar-embossed">
    <div class="container-fluid">
    <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-body" aria-expanded="false">
    <span class="sr-only">Toggle navigation</span>
<span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="index.html">UMovie</a>
    </div>
    <div class="collapse navbar-collapse" id="navbar-body">
    <ul class="nav navbar-nav">
    <li id="navbar-home" class="active"><a href="index.html">Home</a></li>
<li><a id="navbar-movies" href="app/templates/movie.html">Movies</a></li>
<li><a id="navbar-actors" href="app/templates/actor.html">Actors</a></li>
<li><a id="navbar-tvshows" href="app/templates/tvshow.html">TV Shows</a></li>
<li><a id="navbar-watchlist" href="#">Watchlists</a></li>
</ul>
<ul class="nav navbar-nav navbar-right">
    <li class="navbar-form navbar-left" id="search-form" type="search">
    <div class="form-group">
    <div class="input-group">
    <input class="form-control" placeholder="Search" type="search">
    <span class="input-group-btn">
    <button type="submit" class="btn"><span class="fui-search"></span></button>
</span>
</div>
</div>
</li>
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
    <span class="fui-user"></span> René Angélil<span class="caret"></span></a>
<ul class="dropdown-menu">
    <li><a href="#">Settings</a></li>
<li type="separator" class="divider"></li>
    <li><a href="#">Log out</a></li>
</ul>
</li>
</ul>
</div>
</div>
</nav>