
@media (min-width: $screen-md-min){
  .poster {
    width: 100%;
    height: 500px;
  }
}

@media (min-width: $screen-lg-min){
  .poster {
    width: 100%;
    height: 800px;
  }
}

.img-poster-circle {
  width: 80px;
  height: 80px;
  border-radius: 40px;
  margin: 7px;
}