<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="vendors/bootstrap.min.css">
    <link rel="stylesheet" href="vendors/flat-ui.min.css">
    <link rel="stylesheet" href="vendors/parsley.css">
    <link rel="stylesheet" href="static/fonts/octicons/octicons.css">
    <link rel="stylesheet" href="static/css/main.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.2.3/backbone.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="http://sugarjs.com/release/current/sugar.min.js"></script>
    <script src="http://momentjs.com/downloads/moment-with-locales.js"></script>
    <script src="vendors/parsley.min.js"></script>

    <script src="https://www.google.com/jsapi"></script>

    <title>UMovie</title>
</head>

<body>

<header id="header"></header>

<main id="main-container"></main>

<script type="text/template" id="header-template">
    <nav class="navbar navbar-inverse navbar-embossed">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-body" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand">UMovie</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-body">
                <ul class="nav navbar-nav">
                    <li><a id="navbar-home">Home</a></li>
                    <li><a id="navbar-movies">Movies</a></li>
                    <li><a id="navbar-actors">Actors</a></li>
                    <li><a id="navbar-tvshows">TV Shows</a></li>
                    <li><a id="navbar-watchlists">Watchlists</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="navbar-form navbar-left" id="search-form" type="search">
                        <div class="form-group">
                            <div class="input-group">
                                <input class="form-control" placeholder="Search" type="search">
                                    <span class="input-group-btn">
                                    <button type="submit" class="btn"><span class="fui-search"></span></button>
                                    </span>
                            </div>
                        </div>
                    </li>
                    <% if (!user) { %>
                        <li>
                            <a href="#login">Login</a>
                        </li>
                    <% } else { %>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <span class="fui-user"></span> <%= user.name %><span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li id="profile"><a>Profile</a></li>
                                <li type="separator" class="divider"></li>
                                <li id="logout"><a>Log out</a></li>
                            </ul>
                        </li>
                    <% } %>
                </ul>
            </div>
        </div>
    </nav>
</script>

<script type="text/template" id="home-template">
    <video autoplay id="home-video" loop muted>
        <source src="http://media.w3.org/2010/05/sintel/trailer.mp4" type="video/mp4" >
    </video>

    <div id="home-banner" class="col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-7">
        <h1>UMovie</h1>
        <h5>The streaming app you were dreaming of...</h5>
    </div>
</script>

<script type="text/template" id="browse-movies-template">
    <div class="container-fluid">

        <div class="row">
            <div id="movie1" class="item-container col-xs-12 col-md-4">
                <h3>Interstellar</h3>
                <img src="http://billdesowitz.com/wp-content/uploads/2013/12/Interstellar.jpg">
            </div>
            <div id="movie2" class="item-container col-xs-12 col-md-4">
                <h3>Harold and Kumar</h3>
                <img src="http://www.game-ost.com/static/covers_soundtracks/7/3/7325_691466.jpg">
            </div>
            <div id="movie3" class="item-container col-xs-12 col-md-4">
                <h3>The Hobbit</h3>
                <img src="http://i.skyrock.net/4274/86234274/pics/3130057620_1_2_aUNxzre7.jpg">
            </div>
            <div id="movie4" class="item-container col-xs-12 col-md-4">
                <h3>The Dark Knight Rises</h3>
                <img src="http://theactionelite.com/site/wp-content/uploads/2012/08/BatmanTheDarkKnightRisesOriginalSoundtrack03-Copy-600x600.png">
            </div>
            <div id="movie5" class="item-container col-xs-12 col-md-4">
                <h3>Pulp Fiction</h3>
                <img src="http://www.pitchweight.com/u/Al-Green-Pulp-Fiction-(Music-from-the-Motion-Picture)-683-600x600.jpg">
            </div>
            <div id="movie6" class="item-container col-xs-12 col-md-4">
                <h3>Kung Pow!</h3>
                <img src="http://www.horrorshowreview.com/wp-content/uploads/2013/01/KPPic1.jpg">
            </div>
        </div>

    </div>
</script>

<script type="text/template" id="movies-template">
    <div id='<%= movie.id %>' class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <img class="poster" src='<%= movie.artworkUrl100 %>'>
            </div>
            <div class="col-xs-12 col-md-8">
                <h1 class="page-title"><%= movie.trackName %></h1>
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#description" data-toggle="tab">Description</a></li>
                    <li><a id="preview-tab" href="#preview" data-toggle="tab">Preview</a></li>
                </ul>
                <div class="tab-content">
                    <div id="description" class="tab-pane fade in active">
                        <p class="lead"><%= movie.longDescription %></p>
                        <button id="add-movie-to-watchlists" class="btn btn-primary" data-toggle="modal" data-target="#add-movie-to-watchlist-modal">Add to watchlists</button>
                        <p><strong>Rating:</strong> <%= movie.contentAdvisoryRating %></p>
                        <p><strong>Genre:</strong> <%= movie.primaryGenreName %></p>
                        <p><strong>Release date:</strong> <%= movie.releaseDate %></p>
                        <a class="itunes-button" href='<%= movie.trackViewUrl %>'></a>
                    </div>
                    <div id="preview" class="tab-pane fade">
                        <div class="row">
                            <div id="preview-container" class="col-xs-12">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="add-movie-to-watchlist-modal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Add movie to watchlists</h4>
                </div>
                <div class="modal-body">
                    <% _.each(watchlists, function(watchlist){ %>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="" data-watchlist-id="<%- watchlist.id %>">
                            <%- watchlist.name %>
                        </label>
                    </div>
                    <% }); %>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btn-add-to-watchlists" class="btn btn-primary">Add</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</script>

<script type="text/template" id="browse-actors-template">
    <div class="container-fluid">
        <div class="row">
            <div id="actor1" class="item-container col-xs-12 col-md-4">
                <h3>Jennifer L. Hewitt</h3>
                <img src="http://photogallery.indiatimes.com/photo/20438818.cms">
            </div>
            <div id="actor2" class="item-container col-xs-12 col-md-4">
                <h3>Bruce Willis</h3>
                <img src="http://photogallery.indiatimes.com/celebs/celeb-themes/hollywood-action-heroes/photo/19516058/Does-the-name-John-McClaine-ring-a-bell-Yes-thats-Bruce-Willis-from-Die-Hard-series-whose-action-adventures-garnered-huge-fan-base-Bruce-Willis-action-packed-films-include-Armageddon-Unbreakable-Sin-City-RED-The-Expendables-Looper-and-G-I-Joe-Retaliation.jpg">
            </div>
            <div id="actor3" class="item-container col-xs-12 col-md-4">
                <h3>Brad Pitt</h3>
                <img src="http://www.letribunaldunet.fr/wp-content/uploads/2013/12/brad-pitt-a-cannes-pour-killing-them-softly-10694952fnohr-600x600.jpg">
            </div>
            <div id="actor4" class="item-container col-xs-12 col-md-4">
                <h3>Leonardo DiCaprio</h3>
                <img src="http://static1.therichestimages.com/cdn/600/600/100/c/wp-content/uploads/2011/07/leonardo-dicaprio1.jpg">
            </div>
            <div id="actor5" class="item-container col-xs-12 col-md-4">
                <h3>Christian Bale</h3>
                <img src="http://lh4.googleusercontent.com/-KfLm_B8aezY/UoRRB4qwJNI/AAAAAAAC394/7s01l2PL3gc/s1600/2009-Christian-Bale-verbally-assaulted-member.jpg">
            </div>
            <div id="actor6" class="item-container col-xs-12 col-md-4">
                <h3>Lucy Liu</h3>
                <img src="https://s-media-cache-ak0.pinimg.com/736x/e6/30/69/e6306932e44ab0922f5e809246736f86.jpg">
            </div>
        </div>
    </div>
</script>

<script type="text/template" id="actors-template">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-md-4">
                    <img class="poster" src="<%- actor.imageURL %>">
                </div>
                <div class="col-xs-12 col-md-8">
                    <h1 class="page-title"><%- actor.artistName %> <small><%- actor.primaryGenreName %></small></h1>
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#actor-movies" data-toggle="tab">Movies</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="actor-movies" class="tab-pane tab-pane-table fade in active">
                            <table class="table table-striped movies-table">
                                <thead>
                                <tr>
                                    <th class="main-column">Name</th>
                                    <th>Parution Date</th>
                                    <th>Preview</th>
                                </tr>
                                </thead>
                                <tbody>
                                <% _.each(movies, function(movie){ %>
                                    <tr>
                                        <td><img class="img-poster-circle" src="<%- movie.artworkUrl100 %>"><a href="#movies/<%- movie.trackId %>"><%- movie.trackName %></a></td>
                                        <td><%- movie.releaseDate %></td>
                                        <td><a class="btn btn-block btn-lg btn-primary" id="previewButton" data-trackName="<%- movie.trackName %>" data-toggle="modal" data-target="#previewModal">Preview</a></td>
                                    </tr>
                                <% }); %>
                                </tbody>
                            </table>
                        </div>

                        <a class="itunes-button" href="<%- actor.artistLinkUrl %>"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

        <!-- Modal -->
        <div id="previewModal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close closePreview" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Preview</h4>
                    </div>
                    <div id="preview-modal-container" class="modal-body">
                        <!-- insert youtube preview here -->
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-block btn-lg btn-primary closePreview" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
</script>

<script type="text/template" id="browse-tvshows-template">
    <div class="container-fluid">
        <div class="row">
            <div id="TvShow1" class="item-container col-xs-12 col-md-4">
                <h3>Rome</h3>
                <img src="http://is2.mzstatic.com/image/pf/us/r30/Video2/v4/8e/5d/67/8e5d6720-1da6-b8fa-d10e-262e2d68a482/mzl.lhhvljhw.600x600-85.jpg">
            </div>
            <div id="TvShow2" class="item-container col-xs-12 col-md-4">
                <h3>Scandal</h3>
                <img src="http://a2.mzstatic.com/us/r30/Music6/v4/89/16/c4/8916c454-0c23-97cd-ebd0-7837f55c86fb/cover600x600.jpeg">
            </div>
            <div id="TvShow3" class="item-container col-xs-12 col-md-4">
                <h3>Heroes Reborn</h3>
                <img src="http://a1.mzstatic.com/us/r30/Music6/v4/0b/f3/b5/0bf3b54b-bc79-c780-694d-67ff39a003bb/cover600x600.jpeg">
            </div>
            <div id="TvShow4" class="item-container col-xs-12 col-md-4">
                <h3>American Horror Story</h3>
                <img src="http://a5.mzstatic.com/us/r30/Music6/v4/dc/bb/bf/dcbbbf0b-0a24-bff5-466d-5e82b5b1f07b/cover600x600.jpeg">
            </div>
            <div id="TvShow5" class="item-container col-xs-12 col-md-4">
                <h3>Arrow</h3>
                <img src="http://a5.mzstatic.com/us/r30/Music6/v4/e4/e6/d8/e4e6d890-ce99-2b18-9697-615a4f6c34a7/cover600x600.jpeg">
            </div>
            <div id="TvShow6" class="item-container col-xs-12 col-md-4">
                <h3>The Big Bang Theory</h3>
                <img src="http://a3.mzstatic.com/us/r30/Music69/v4/85/73/78/85737849-3892-ab11-b90b-fb5d0ad61265/cover600x600.jpeg">
            </div>
        </div>
    </div>
</script>

<script type="text/template" id="tvshows-template">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <img class="poster" src="<%= tvshow.artworkUrl100 %>">
            </div>
            <div class="col-xs-12 col-md-8">
                <h1 class="page-title"><%= tvshow.collectionName %> <small>(<%= tvshow.releaseDate %>)</small></h1>
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#description" data-toggle="tab">Description</a></li>
                    <li><a href="#episodes" data-toggle="tab">Episodes</a></li>
                    <li><a href="#preview" data-toggle="tab">Preview</a></li>
                </ul>
                <div class="tab-content">
                    <div id="description" class="tab-pane fade in active">
                        <p class="lead"><%= tvshow.longDescription %></p>
                        <p><strong>Genre:</strong> <%= tvshow.primaryGenreName %></p>
                        <p><strong>First episode:</strong> <span id="first-episode"></span></p>
                        <a class="itunes-button" href="<%= tvshow.collectionViewUrl %>"></a>
                    </div>
                    <div id="episodes" class="tab-pane fade">
                        <table class="table table-striped movies-table">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Information</th>
                            </tr>
                            </thead>
                            <tbody>
                            <% _.each(episodes, function(episode){ %>
                            <tr>
                                <td><img class="img-poster-circle" src="<%- episode.artworkUrl100 %>"><%- episode.trackNumber %> - <%- episode.trackName %></td>
                                <td><a class="btn btn-block btn-lg btn-primary previewButton" data-trackId="<%- episode.trackId %>" data-toggle="modal" data-target="#tvShowEpisodeModal">Info</a></td>
                            </tr>
                            <% }); %>
                            </tbody>
                        </table>
                    </div>
                    <div id="preview" class="tab-pane fade">
                        <div class="row">
                            <div class="col-xs-12" id="preview-container">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div id="tvShowEpisodeModal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content" id="tvShowEpisodeModalContent">
                <div class="modal-header" id="tvShowEpisodeModalHeader">
                    <button type="button" class="close closePreview" data-dismiss="modal">&times;</button>
                    <h3 id="modal-tvshow-title"></h3>
                    <h4 id="modal-tvshow-epidode-title"></h4>
                    <div id="modal-tvshow-epidode-time"></div>
                </div>
                <div class="modal-body" id="tvShowEpisodeModalBody">
                    <!-- insert youtube preview here -->
                </div>
                <div class="modal-footer" id="tvShowEpisodeModalFooter">
                    <button type="button" class="btn btn-block btn-lg btn-primary closePreview" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
</script>

<script type="text/template" id="watchlists-template">
    <div id="watchlists-container" class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <button type="button" id="create-watchlist" class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#watchlist-create-modal">
                    Create a new watchlist
                </button>
            </div>
        </div>

        <div class="row">
            <div id="watchlist-list">
            </div>
        </div>
    </div>

    <!-- Create Watchlist Dialog -->
    <div id="watchlist-create-modal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">New watchlist</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="watchlist-create-name">Your watchlist's name:</label>
                        <input type="text" class="form-control" id="watchlist-create-name" placeholder="Name"/>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="watchlist-create-button">Create</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</script>

<script type="text/template" id="watchlist-template">
    <div class="col-xs-12 col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h6>
                    <%- watchlist.name %>
                    <div class="btn-group pull-right">
                        <button class="btn-open-watchlist-modify-name-modal btn btn-info btn-sm">
                            <i class="octicon octicon-pencil"></i>
                        </button>
                        <button class="btn-remove-watchlist btn btn-danger btn-sm"><i class="octicon octicon-trashcan"></i></button>
                    </div>
                </h6>
            </div>
            <table class="table">
                <tfoot>
                    <tr>
                        <td colspan="100%">
                            <div class="form-group">
                                <label>Add a movie</label>
                                <input type="text" class="form-control movie-id" placeholder="Enter the movie's ID">
                            </div>
                            <button class="btn-add-movie btn btn-primary btn-block"><i class="octicon octicon-plus"></i></button>
                        </td>
                    </tr>
                </tfoot>
                <tbody class="watchlist-movie-list">

                </tbody>
            </table>
        </div>
    </div>

    <div class="modal fade watchlist-modify-name-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Change watchlist name</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="watchlist-create-name">Your watchlist new name:</label>
                        <input type="text" class="watchlist-change-name form-control" placeholder="Name"/>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="watchlist-save-new-name-button btn btn-primary">Change</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</script>

<script type="text/template" id="watchlist-movie-template">
    <td>
        <img class="img-poster-circle-small" src="<%- movie.artworkUrl100 %>">
    </td>
    <td>
        <a href="#movies/<%- movie.trackId %>"><%- movie.trackName %></a>
    </td>
    <td>
        <button class="btn-remove-movie btn btn-default btn-sm pull-right">
            <i class="octicon octicon-x"></i>
        </button>
    </td>
</script>

<script type="text/template" id="login-template">
    <div class="container col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
        <form id="login-form" class="form-signin" data-parsley-validate="">
            <h2 class="form-signin-heading">Login</h2>

            <label for="input-email" class="sr-only">Email</label>
            <input id="input-email" type="email" class="form-control user-input" placeholder="Email address" required="" autofocus>

            <label for="input-password" class="sr-only">Password</label>
            <input type="password" id="input-password" class="form-control user-input" placeholder="Password" required="">

            <p id="error-message"></p>

            <button id="btn-login-confirm" class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
        </form>

        <p>New to UMovie? Click <a id="subscribe-link" class="link">here</a> to subscribe.</p>
    </div>
</script>

<script type="text/template" id="subscribe-template">
    <div class="container col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
        <form id="subscribe-form" class="form-signin" data-parsley-validate="">
            <h2 class="form-signin-heading">Subscribe</h2>

            <label for="input-name" class="sr-only">Name</label>
            <input id="input-name" class="form-control user-input" placeholder="Name" required="" autofocus>

            <label for="input-email" class="sr-only">Email</label>
            <input type="email" id="input-email" class="form-control user-input" placeholder="Email address" required="" autofocus>

            <label for="input-password" class="sr-only">Password</label>
            <input type="password" id="input-password" class="form-control user-input" placeholder="Password" required="">

            <p id="error-message"></p>

            <button id="btn-subscribe-confirm" class="btn btn-lg btn-primary btn-block" type="submit">Subscribe</button>
        </form>

        <p>Already have an account? Click <a id="link-login" class="link">here</a> to login.</p>
    </div>
</script>

<script type="text/template" id="user-template">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <h1><%= user.name %></h1>
            </div>
        </div>
    </div>
</script>

<script src="app/models/episode.js"></script>
<script src="app/models/actor.js"></script>
<script src="app/models/movie.js"></script>
<script src="app/models/tvshow.js"></script>
<script src="app/models/user.js"></script>
<script src="app/models/watchlist.js"></script>

<script src="app/collections/episodes.js"></script>
<script src="app/collections/movies.js"></script>
<script src="app/collections/users.js"></script>
<script src="app/collections/watchlists.js"></script>

<script src="app/views/header-view.js"></script>
<script src="app/views/home-view.js"></script>
<script src="app/views/login-view.js"></script>
<script src="app/views/subscribe-view.js"></script>

<script src="app/views/browse-movies-view.js"></script>
<script src="app/views/movies-view.js"></script>

<script src="app/views/browse-actors-view.js"></script>
<script src="app/views/actors-view.js"></script>

<script src="app/views/browse-tvshows-view.js"></script>
<script src="app/views/tvshows-view.js"></script>

<script src="app/views/watchlist-movie-view.js"></script>
<script src="app/views/watchlist-view.js"></script>
<script src="app/views/watchlists-view.js"></script>

<script src="app/views/user-view.js"></script>

<script src="app/app.js"></script>

<script src="https://apis.google.com/js/client.js?onload=googleApiClientReady"></script>

<script src="app/router.js"></script>

</body>
</html>