<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="vendors/bootstrap.min.css">
    <link rel="stylesheet" href="vendors/flat-ui.min.css">
    <link rel="stylesheet" href="static/css/main.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.2.3/backbone.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="http://sugarjs.com/release/current/sugar.min.js"></script>
    <script src="http://momentjs.com/downloads/moment-with-locales.js"></script>

    <title>UMovie</title>
</head>

<body>

<header id="header"></header>

<main id="main-container"></main>

<script type="text/template" id="header-template">
    <nav class="navbar navbar-inverse navbar-embossed">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-body" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand">UMovie</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-body">
                <ul class="nav navbar-nav">
                    <li><a id="navbar-home">Home</a></li>
                    <li><a id="navbar-movies">Movies</a></li>
                    <li><a id="navbar-actors">Actors</a></li>
                    <li><a id="navbar-tvshows">TV Shows</a></li>
                    <li><a id="navbar-watchlists">Watchlists</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="navbar-form navbar-left" id="search-form" type="search">
                        <div class="form-group">
                            <div class="input-group">
                                <input class="form-control" placeholder="Search" type="search">
                                    <span class="input-group-btn">
                                    <button type="submit" class="btn"><span class="fui-search"></span></button>
                                    </span>
                            </div>
                        </div>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <span class="fui-user"></span> René Angélil<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Settings</a></li>
                            <li type="separator" class="divider"></li>
                            <li><a href="#">Log out</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</script>

<script type="text/template" id="home-template">
    <video autoplay id="home-video" loop muted>
        <source src="http://media.w3.org/2010/05/sintel/trailer.mp4" type="video/mp4" >
    </video>

    <div id="home-banner" class="col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-7">
        <h1>UMovie</h1>
        <h5>The streaming app you were dreaming of...</h5>
    </div>
</script>

<script type="text/template" id="browse-movies-template">
    <div class="container-fluid">

        <div class="row">
            <div id="movie1" class="item-container col-xs-12 col-md-4">
                <h3>Interstellar</h3>
                <img src="http://is3.mzstatic.com/image/thumb/Video5/v4/94/0b/4e/940b4e58-6628-dfb4-2565-5521c11dcdd4/pr_source.lsr/600x600bb-85.jpg">
            </div>
            <div id="movie2" class="item-container col-xs-12 col-md-4">
                <h3>The Imitation Game</h3>
                <img src="http://is3.mzstatic.com/image/thumb/Video49/v4/25/52/af/2552af96-a9bd-7459-7edf-3d8b0138a4f0/pr_source.lsr/600x600bb-85.jpg">
            </div>
            <div id="movie3" class="item-container col-xs-12 col-md-4">
                <h3>The hobbit</h3>
                <img src="http://is3.mzstatic.com/image/thumb/Video6/v4/71/5e/32/715e321f-e15e-9fac-2f47-40956433383f/mza_7740628517986330538.jpg/600x600bb-85.jpg">
            </div>
            <div id="movie4" class="item-container col-xs-12 col-md-4">
                <h3>The Dark Knight</h3>
                <img src="http://is1.mzstatic.com/image/thumb/Video2/v4/7a/e2/d1/7ae2d102-fbbd-2d2c-b90f-80c8c576900b/mza_3252474936813779300.jpg/600x600bb-85.jpg">
            </div>
            <div id="movie5" class="item-container col-xs-12 col-md-4">
                <h3>Pulp Fiction</h3>
                <img src="http://is5.mzstatic.com/image/thumb/Video1/v4/3f/06/4b/3f064b52-e3d4-7207-39d0-14c8fbf03cd4/pr_source.lsr/600x600bb-85.jpg">
            </div>
            <div id="movie6" class="item-container col-xs-12 col-md-4">
                <h3>Kung Pow</h3>
                <img src="http://is4.mzstatic.com/image/thumb/Music/a5/a3/76/mzi.jdfnviva.jpg/600x600bb-85.jpg">
            </div>
        </div>

    </div>
</script>

<script type="text/template" id="movies-template">
    <div id='<%= id %>' class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <img class="poster" src='<%= artworkUrl100 %>'>
            </div>
            <div class="col-xs-12 col-md-8">
                <h1 class="page-title"><%= trackName %></h1>
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#description" data-toggle="tab">Description</a></li>
                    <li><a id="preview-tab" href="#preview" data-toggle="tab">Preview</a></li>
                </ul>
                <div class="tab-content">
                    <div id="description" class="tab-pane fade in active">
                        <p class="lead"><%= longDescription %></p>
                        <p><strong>Rating:</strong> <%= contentAdvisoryRating %></p>
                        <p><strong>Genre:</strong> <%= primaryGenreName %></p>
                        <p><strong>Release date:</strong> <%= releaseDate %></p>
                        <a class="itunes-button" href='<%= trackViewUrl %>'></a>
                    </div>
                    <div id="preview" class="tab-pane fade">
                        <div class="row">
                            <div id="preview-container" class="col-xs-12">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/template" id="browse-actors-template">
    <div class="container-fluid">
        <div class="row">
            <div id="actor1" class="item-container col-xs-12 col-md-4">
                <h3>Jennifer L. Hewitt</h3>
                <img src="">
            </div>
            <div id="actor2" class="item-container col-xs-12 col-md-4">
                <h3>David Ayer</h3>
                <img src="">
            </div>
            <div id="actor3" class="item-container col-xs-12 col-md-4">
                <h3>Brad Pitt</h3>
                <img src="">
            </div>
            <div id="actor4" class="item-container col-xs-12 col-md-4">
                <h3>Keanu Reeves</h3>
                <img src="">
            </div>
            <div id="actor5" class="item-container col-xs-12 col-md-4">
                <h3>Christian Bale</h3>
                <img src="">
            </div>
            <div id="actor6" class="item-container col-xs-12 col-md-4">
                <h3>Lucy Liu</h3>
                <img src="">
            </div>
        </div>
    </div>
</script>

<script type="text/template" id="actors-template">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-md-4">
                    <img class="poster" src="static/img/actor/matthew_mcconaughey.jpg">
                </div>
                <div class="col-xs-12 col-md-8">
                    <h1 class="page-title"><%- actor.artistName %> <small><%- actor.primaryGenreName %></small></h1>
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#actor-movies" data-toggle="tab">Movies</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="actor-movies" class="tab-pane tab-pane-table fade in active">
                            <table class="table table-striped actor-movies-table">
                                <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Parution Date</th>
                                    <th>Preview</th>
                                </tr>
                                </thead>
                                <tbody class="actor-movies-body">
                                <% _.each(movies, function(movie){ %>
                                    <tr>
                                        <td><img class="img-poster-circle" src="<%- movie.artworkUrl100 %>"><%- movie.trackName %></td>
                                        <td><%- movie.releaseDate %></td>
                                        <td><a class="btn btn-block btn-lg btn-primary" href="movie.html">Preview</a></td>
                                    </tr>
                                <% }); %>
                                </tbody>
                            </table>
                        </div>

                        <a class="itunes-button" href="https://itunes.apple.com/us/artist/matthew-mcconaughey/id211294246"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/template" id="browse-tvshows-template">
    <div class="container-fluid">
        <div class="row">
            <div id="TvShow1" class="item-container col-xs-12 col-md-4">
                <h3>Rome</h3>
                <img src="http://is2.mzstatic.com/image/pf/us/r30/Video2/v4/8e/5d/67/8e5d6720-1da6-b8fa-d10e-262e2d68a482/mzl.lhhvljhw.600x600-85.jpg">
            </div>
            <div id="TvShow2" class="item-container col-xs-12 col-md-4">
                <h3>Scandal</h3>
                <img src="http://a2.mzstatic.com/us/r30/Music6/v4/89/16/c4/8916c454-0c23-97cd-ebd0-7837f55c86fb/cover600x600.jpeg">
            </div>
            <div id="TvShow3" class="item-container col-xs-12 col-md-4">
                <h3>Heroes Reborn</h3>
                <img src="http://a1.mzstatic.com/us/r30/Music6/v4/0b/f3/b5/0bf3b54b-bc79-c780-694d-67ff39a003bb/cover600x600.jpeg">
            </div>
            <div id="TvShow4" class="item-container col-xs-12 col-md-4">
                <h3>American Horror Story</h3>
                <img src="http://a5.mzstatic.com/us/r30/Music6/v4/dc/bb/bf/dcbbbf0b-0a24-bff5-466d-5e82b5b1f07b/cover600x600.jpeg">
            </div>
            <div id="TvShow5" class="item-container col-xs-12 col-md-4">
                <h3>Arrow</h3>
                <img src="http://a5.mzstatic.com/us/r30/Music6/v4/e4/e6/d8/e4e6d890-ce99-2b18-9697-615a4f6c34a7/cover600x600.jpeg">
            </div>
            <div id="TvShow6" class="item-container col-xs-12 col-md-4">
                <h3>The Big Bang Theory</h3>
                <img src="http://a3.mzstatic.com/us/r30/Music69/v4/85/73/78/85737849-3892-ab11-b90b-fb5d0ad61265/cover600x600.jpeg">
            </div>
        </div>
    </div>
</script>

<script type="text/template" id="tvshows-template">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <img class="poster" src="<%= tvshow.artworkUrl100 %>">
            </div>
            <div class="col-xs-12 col-md-8">
                <h1 class="page-title"><%= tvshow.collectionName %> <small>(<%= tvshow.releaseDate %>)</small></h1>
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#description" data-toggle="tab">Description</a></li>
                    <li><a href="#episodes" data-toggle="tab">Episodes</a></li>
                    <li><a href="#preview" data-toggle="tab">Preview</a></li>
                </ul>
                <div class="tab-content">
                    <div id="description" class="tab-pane fade in active">
                        <p class="lead"><%= tvshow.longDescription %></p>
                        <p><strong>Genre:</strong> <%= tvshow.primaryGenreName %></p>
                        <p><strong>First episode:</strong> <span id="first-episode"></span></p>
                        <a class="itunes-button" href="<%= tvshow.collectionViewUrl %>"></a>
                    </div>
                    <div id="episodes" class="tab-pane fade">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Name</th>
                            </tr>
                            </thead>
                            <tbody>
                            <% _.each(episodes, function(episode){ %>
                            <tr>
                                <td><img class="img-poster-circle" src="<%- episode.artworkUrl100 %>"><%- episode.trackNumber %> - <%- episode.trackName %></td>
                            </tr>
                            <% }); %>
                            </tbody>
                        </table>
                    </div>
                    <div id="preview" class="tab-pane fade">
                        <div class="row">
                            <div class="col-xs-12" id="preview-container">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/template" id="watchlists-template">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <button type="button" class="btn btn-primary btn-lg btn-block">Create a new watchlist</button>
            </div>
        </div>
    </div>

    <!-- Create Watchlist Dialog -->
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">New Watchlist</h4>
                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</script>

<script src="app/models/episode.js"></script>
<script src="app/models/actor.js"></script>
<script src="app/models/movie.js"></script>
<script src="app/models/tvshow.js"></script>
<script src="app/models/user.js"></script>
<script src="app/models/watchlist.js"></script>

<script src="app/collections/episodes.js"></script>
<script src="app/collections/movies.js"></script>
<script src="app/collections/users.js"></script>
<script src="app/collections/watchlists.js"></script>

<script src="app/views/header-view.js"></script>
<script src="app/views/home-view.js"></script>

<script src="app/views/browse-movies-view.js"></script>
<script src="app/views/movies-view.js"></script>

<script src="app/views/browse-actors-view.js"></script>
<script src="app/views/actors-view.js"></script>

<script src="app/views/browse-tvshows-view.js"></script>
<script src="app/views/tvshows-view.js"></script>

<script src="app/views/watchlists-view.js"></script>

<script src="app/app.js"></script>

<script src="https://apis.google.com/js/client.js?onload=googleApiClientReady"></script>

<script src="app/router.js"></script>

</body>
</html>